body {
    background-color: black;
    color: #3B7DC4; /* Blue for text */
    font-size: 1.3em; /* Increase font size */
    margin: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    font-family: monospace;
    overflow-y:scroll;
}

.container {
    border: 2px solid #3B7DC4; /* Blue border */
    padding: 20px;
    text-align: left; /* Align contents to the left */
}

.terminal {
    margin: 0 auto; /* Center the terminal box horizontally */
    max-width: 800px; /* Adjust maximum width as needed */
}

.ascii-art {
    font-family: monospace;
    font-size: 1.2em; /* Increase ASCII art font size */
    margin-bottom: 20px;
}

.prompt {
    color: #3DBD94; /* Turquoise for prompt */
    font-size: 1.1em; /* Increase prompt font size */
}

.command-output {
    color: #8CC63F; /* Green for command output */
    font-size: 1.1em; /* Increase command output font size */
}

.wec {
    color: #EC008C; /* Yellow for ASCII art */
}

.but {
    color: #FBCB09; /* Yellow for ASCII art */
}

.help-menu {
    color: #F7941D; /* Orange for help menu */
}

a {
    color: #8CC63F; /* Pink for links */
}

a:hover {
    color: #92278F; /* Purple for hovered links */
}

ul {
    list-style-type: none;
    padding: 0;
}

li .one {
    color: #F7941D; /* Orange for list items */
    margin-left: 35px;
    padding: 5px;
}

li .two {
    color: #cacaca; /* Orange for list items */
    padding: 5px;
}
li .three{
    color: #cacaca;
    padding-left: 35px ;
}

@media (max-width: 500px) {
    .terminal {
        max-width: 95%; /* Adjust terminal width for smaller screens */
    }

    .ascii-art {
        font-size: 1.3em; /* Decrease ASCII art size for smaller screens */
    }

    .output {
        max-height: 150px; /* Reduce max-height for output */
    }
}

input {
    background: none;
    border: none;
    color: #3DBD94; /* Turquoise for input */
    outline: none;
    font-family: monospace;
    font-size: 1.1em;
}

p {
    margin-left: 20px;
    font-size: 18px;
}
/* Game Overlay */
.game-overlay {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 220px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid #00FF00;
    padding: 10px;
    box-shadow: 0 0 0px #00FF00;
    z-index: 1000;
}

.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #00FF00;
    font-family: monospace;
    margin-bottom: 10px;
}

.close-button {
    background: none;
    border: none;
    color: #00FF00;
    font-size: 1.2em;
    cursor: pointer;
}
